mysql:
  host: ""
  port: ""
  user: ""
  password: ""
  dbname: ""

oss:
  endpoint: ""
  access_key_id: ""
  access_key_secret: ""
  bucket_name: ""

sms:
  access_key_id: ""
  access_key_secret: ""
  sign_name: ""
  template_code: ""